-- MariaDB dump 10.19  Distrib 10.4.27-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: amlo_dashboard
-- ------------------------------------------------------
-- Server version	10.4.27-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bad_data`
--

DROP TABLE IF EXISTS `bad_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bad_data` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `no_urut` varchar(50) DEFAULT NULL,
  `branch` varchar(255) NOT NULL,
  `pic_rac` varchar(255) NOT NULL,
  `persentase` varchar(50) DEFAULT NULL,
  `average` varchar(50) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `month` varchar(100) DEFAULT NULL,
  `region` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `total_cif` varchar(50) DEFAULT NULL,
  `total` varchar(50) DEFAULT NULL,
  `reguler` varchar(50) DEFAULT NULL,
  `kerjasama` varchar(50) DEFAULT NULL,
  `bad_data_prev` varchar(50) DEFAULT NULL,
  `persentase_prev` varchar(50) DEFAULT NULL,
  `bad_data_curr` varchar(50) DEFAULT NULL,
  `persentase_curr` varchar(50) DEFAULT NULL,
  `perbaikan_bad_data` varchar(50) DEFAULT NULL,
  `bad_data_baru` varchar(50) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `tgl_prev` varchar(50) DEFAULT NULL,
  `tgl_curr` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_branch_pic` (`branch`,`pic_rac`),
  KEY `idx_status` (`status`),
  KEY `idx_month` (`month`),
  KEY `idx_region` (`region`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bad_data`
--

LOCK TABLES `bad_data` WRITE;
/*!40000 ALTER TABLE `bad_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `bad_data` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-01 12:13:25
